[Unit]
Description=Automatic Firmware updates
Documentation=man:fwupd
Requires=charged.service

[Timer]
OnCalendar=*-*-* 19:00:00
Persistent=true
Unit=firmwareupdate.service

[Install]
WantedBy=timers.target
